![Los Angeles skyline](la_skyline.jpg)

Los Angeles, California ðŸ˜Ž. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
crimes = pd.read_csv("crimes.csv", dtype={"TIME OCC": str})
crimes.head()

       DR_NO   Date Rptd  ...  Status Desc                                 LOCATION
0  220314085  2022-07-22  ...  Invest Cont  2500 S  SYCAMORE                     AV
1  222013040  2022-08-06  ...  Invest Cont  3300    SAN MARINO                   ST
2  220614831  2022-08-18  ...  Invest Cont                        1900    TRANSIENT
3  231207725  2023-02-27  ...  Invest Cont  6200    4TH                          AV
4  220213256  2022-07-14  ...  Invest Cont  1200 W  7TH                          ST

[5 rows x 12 columns]

In [ ]:
# 1. Finding the frequencies of crimes by the hour of occurrence
# Extract the hour from "TIME OCC" and convert to integer
crimes["HOUR OCC"] = crimes["TIME OCC"].str[:2].astype(int)

# Find the hour with the highest frequency of crimes
peak_crime_hour = crimes["HOUR OCC"].value_counts().index[0]

print(f"The hour with the highest frequency of crimes is: {peak_crime_hour}")

The hour with the highest frequency of crimes is: 12

In [3]:
# 2. Identifying the area with the most night crime
# Night crimes are committed between 10pm (22) and 3:59am (3)
night_hours = [22, 23, 0, 1, 2, 3]
night_crimes = crimes[crimes["HOUR OCC"].isin(night_hours)]

# Count night crimes by area
night_crime_counts_by_area = night_crimes["AREA NAME"].value_counts()

# Identify the area with the largest frequency of night crimes
peak_night_crime_location = night_crime_counts_by_area.index[0]

print(f"\nThe area with the largest frequency of night crimes is: {peak_night_crime_location}")

The area with the largest frequency of night crimes is: Central

In [4]:
# 3. Crimes by age group
# Define bins and labels for age groups
age_bins = [0, 17, 25, 34, 44, 54, 64, np.inf]
age_labels = ["0-17", "18-25", "26-34", "35-44", "45-54", "55-64", "65+"]

# Create a new column 'Vict Age Group' by binning 'Vict Age'
crimes["Vict Age Group"] = pd.cut(crimes["Vict Age"], bins=age_bins, labels=age_labels, right=True)

# Count crimes by victim age group
victim_ages = crimes["Vict Age Group"].value_counts().sort_index()

print(f"\nNumber of crimes committed against victims of different age groups:\n {victim_ages}")

Number of crimes committed against victims of different age groups:
 0-17      4528
18-25    28291
26-34    47470
35-44    42157
45-54    28353
55-64    20169
65+      14747
Name: Vict Age Group, dtype: int64