![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [5]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools_df= pd.read_csv("schools.csv")

# Preview the data
schools_df.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [ ]:
# 1. Finding schools with the best math scores

# The best math results are at least 80% of the maximum possible score of 800 for math.
math_threshold = 0.80 * 800
best_math_schools = schools_df[schools_df["average_math"] >= math_threshold][
    ["school_name", "average_math"]
].sort_values(by="average_math", ascending=False)

print("Schools with the best math results:")
print(best_math_schools.head())

Schools with the best math results:
                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683

In [ ]:
# 2. Identifying the top 10 performing schools based on combined SAT scores

# Add a new column named "total_SAT"
schools_df["total_SAT"] = schools_df["average_math"] + schools_df["average_reading"] + schools_df["average_writing"]

# Sort by "total_SAT" in descending order and get the top 10
top_10_schools = schools_df.sort_values(by="total_SAT", ascending=False)[
    ["school_name", "total_SAT"]
].head(10)

print("\nTop 10 performing schools based on combined SAT scores:")
print(top_10_schools)

Top 10 performing schools based on combined SAT scores:
                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [ ]:
# 3. Locating the NYC borough with the largest standard deviation in SAT performance

# Group by borough and calculate count, mean, and standard deviation of "total_SAT"
borough_stats = schools_df.groupby("borough")["total_SAT"].agg(
    num_schools="count",
    average_SAT="mean",
    std_SAT="std"
).round(2)

# Find the borough with the largest standard deviation
largest_std_dev = borough_stats[borough_stats["std_SAT"] == borough_stats["std_SAT"].max()]

# Ensure the DataFrame has the correct column names as per instructions
largest_std_dev = largest_std_dev.rename(
    columns={"num_schools": "num_schools", "average_SAT": "average_SAT", "std_SAT": "std_SAT"}
)

print("\nBorough with the largest standard deviation in combined SAT score:")
print(largest_std_dev)

Borough with the largest standard deviation in combined SAT score:
           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29